.container-fixed {
  margin: 0 auto;
  max-width: 2560px;
}

/* Header Section */
.yellowBar1 {
  background-color: #FAE613;
  height: .75vw;
}

.logo {
  width: 28%;
}

.search {
  padding-top: 7%;
  padding-bottom: 4%;
}

.header_left {
  margin-left: 10%;
}

.header_right {
  margin-right: 5%;
}

.menu {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15pt;
  color: #1654A8;
  text-align: right;
  font-size: 1.55vw;
}

#navbar{
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.01vw;
  background: linear-gradient(to bottom, #005daa, #073f88);
  color: #B8DFF6;
  height: 2.55vw;
  padding-top: .55vw;
}

#navbar_text {
  margin-left: 10%;
  margin-right: 10%;
}

/* Hero Section */
.hero {
  background: linear-gradient(90deg, rgb(255,255,255) 25%, rgba(0,0,0,0) 67%), url("./Assets/img-1.png");
  background-size: 100vw;
  height: 34.75vw;
}

#hero_rows {
  padding-left: 6%;
  padding-top: 7%;
}

#hero_h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #1654A8;
  font-size: 2.5vw
}

#hero_h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vw;
}

#hero_p {
  padding-right: 5%;
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
}

#hero_signup {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  background-color: #1654A8;
  color: #B8DFF6;
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3vw;
}

.options {
  background-color: #f2f2f2;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4vw;
  line-height: 1.1;
  color: #1654A8;
  height: 7vw;
  padding-top: 2vw;
}

#svg {
  padding-right: 0%;
  height: 3vw;
}

#opt_text {
  padding-left: 0%;
}

/* Styling 1 Section */
#style1_h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #1654A8;
  font-size: 2.5vw
}

#style1_h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #1654A8;
  font-size: 1.9vw
}

#style1_h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vw;
}

#style1_reg {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
}

#style_1 {
  padding-top: 5vw;
  padding-left: 0%;
  padding-right: 0%;
  width: 80%;
}

#col_left {
  margin-left: 0%;
}

#last_row {
  padding-bottom: 5%;
}

#style1_link {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
  color: #1654A8;
}

#style1_ul {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
}

/* Benefits Section */
#yellowBar2 {
  background-color: #FAE613;
  height: .2vw;
  width: 90%;
}

#benefits_heading {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #1654A8;
  font-size: 2.5vw;
  padding-top: 5%;
}

#benefits_12 {
  padding-bottom: 2%;
  padding-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

#benefits_34{
  padding-bottom: 7%;
  margin-left: 4%;
  margin-right: 4%;
}

#benefit_container_b {
  background-color: #B8DFF6;
  border-radius: 8px;
  height: 14vw;
  width: 39.5vw;
}

#benefit_container_g {
  background-color: #f2f2f2;
  border-radius: 8px;
  height: 14vw;
  width: 39.5vw;
}

#benefit_icon {
  padding-left: 30%;
  height: 4.2vw;
}

.benefit_title {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vw;
  color: #1654A8;
  padding-top: 7%;
}

#benefit_text {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
  padding-right: 10%;
}

#benefits_banner {
  height: 30.75vw;
  padding: 0%;
}

/* Services Area Section */
#services_heading {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #1654A8;
  font-size: 2.5vw;
  padding-top: 5%;
  padding-bottom: 3%;
}

#services_container {
  padding-left: 5%;
  padding-right: 5%;
}

#services_left {
padding-right: 7%;
}

#services_reg {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
}

#services_h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vw;
  padding-top: 6%;
  padding-bottom: 2%;
}

#service_btn {
  border-radius: 8px;
  background-color: #B8DFF6;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 1%;
}

#service_btns_12 {
  padding-bottom: 3%;
  padding-top: 5%;
  margin-left: 0%;
  margin-right: 4%;
}

#service_btns_34 {
  padding-bottom: 7%;
  margin-left: 0%;
  margin-right: 4%;
}

#other_svg {
  padding-right: 1%;
  height: 2.5vw;
}

#other_text {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  color: #1654A8;
  text-transform: uppercase;
  padding: 0%;
  font-size: 1.23vw;
}

#cta_btn {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  background-color: #1654A8;
  color: #B8DFF6;
  float: left;
  margin-top: 3%;
  margin-bottom: 15%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 1.3vw;
}

.map{
  width: 100%;
}

/* Styling 2 Section */

#style2_container{
background-color: #f2f2f2;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 9.2%;
padding-right: 12%;
}

.family{
  width: 103.5%;
}

#family_col{
  padding: 0%;
}

#right_col{
  padding-left: 5.7%;
}

#style2_heading {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #1654A8;
  font-size: 1.9vw;
  padding-bottom: 3%;
}

#style2_reg {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
  padding-bottom: 3%;
}

#style2_ul {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.23vw;
  padding-bottom: 3%;
}

#style2_signup {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  background-color: #1654A8;
  color: #B8DFF6;
  float: left;
  margin-top: 2%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.3vw;
}

/* Rates Section */

/* Testimonial Section */
#review_bkgd{
  background-color: #B8DFF6;
}

#svg_lf{
  padding: 0%;
  padding-left: 5%;
  height: 7vw;
}
#svg_ri{
  padding: 0%;
  padding-right: 5%;
  height: 7vw;
}

#customer{
  width: 80%;
  padding: 0%;
}

#review_text {
  padding: 0% 2%;
}

#review_p{
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  font-size: 1.9vw;
  color: #1654A8;
  padding-top: 10%;
}

#customer_details {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vw;
  padding-bottom: 10%;
}

.Testimonial-Banner {
  width: 100%;
}

/* FAQ Section */

/* Footer Section */
