.Header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  }

#Header_right {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

#Header_left {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

  #Search{
    padding-top: 30px;
    padding-bottom: 30px;
    float: right
    }

  #Header_left ul {
      float: right
  }

  #Header_left li {
    display: inline;
    padding-left: 30px;
}






.NavBar li {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 14%;
  text-align: center;
}




.Hero {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: url(./Assets/img-1.png) no-repeat top center
      #161415 !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.Benefits-Banner {
  position: relative;
  min-height: 590px;
  background: url(./Assets/img-7.png) no-repeat top center
      #161415 !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.Testimonial-Banner {
  position: relative;
  height: 800px;
  background: url(./Assets/img-6.png) no-repeat top center
      #161415 !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}